 * {
  margin: 0;
  padding: 0;
  color: #494949;
}

.inner {
    width: 100%;
    margin: "auto";
}

.headerwrap_detail{
    background: #373737;
    margin-bottom: 100px;
    box-shadow: 0 1px 5px 1px rgb(150, 150, 150);
}

.bgcolour3 {
    position: absolute;
    width: 100%;
    height: 500px;
    background-image: linear-gradient(316deg, #33cc99 0%, #0099ff 100%);
    transform: skew(0, 10deg);
    left: 0;
    top: -260px;
    z-index: -9999;
  }
  

/* 스켈레톤 spinner */
.spinner {
    position: fixed;
    bottom: 0px;
    left: 50%;
}

/* common */
textarea {
    resize: none;
    font-size: 22px;
}

button {
    cursor: pointer;
    border: 1px solid black;
    background-color: inherit;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

button:hover {
    color: #6666ff;
}

/* 홈버튼  Post버튼 */
.primary_btn {
    border: 1px solid #6666ff;
    border-radius: 5px;
    width: 140px;
    text-align: center;
    height: 40px;
    font-size: 18px;
    line-height: 20px;
    color: #6666ff;
    background: transparent;
    font-family: 'Hahmlet', serif;
  
}

.primary_btn:hover {
    color: white;
    background-color: #0099FF;
}

.comment_btn:hover {
    color: #0099FF;
}

.comment_btn,
.primary_btn,
.nav_btn {
    float: right;
}

/* writeBox */
.writeBox_outer {
    position: relative;
    width: 900px;
    margin: auto;
    height: 600px;
    border-radius: 5px;
    border: 1px solid #6666ff86;
}

.writeBox_inner {   
    background-color: #0099ff36;
    width: 800px;
    border: 1px solid #6666ff3a;
    margin: 60px 50px;
    border-radius: 5px;
    height: 500px;
}

.edit,.delete{
    color: #494949;
    font-size: 13px;
}

/* 제목 작성자 수정하기 삭제하기 */
.writeBox_nav {
    width: 750px;
    margin: 60px auto;
}
.writeBox_nav .title{
    font-size: 26px;
    font-weight: 500;
    margin-right: 30px;
}
.writeBox_nav .author{
    font-size: 16px;
    font-weight: normal;
}

/* 소개글 */
.inform {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: 600px;
}


/* 글 내용 */
.content {
    font-size: 16px;
    width: 750px;
    height: 300px; 
    padding: 15px;
    border-radius: 5px;
}

/* commennt */
.comment {
    margin: 150px;
    
}
.comment_box{
    width: 900px;
    height: 220px;
    margin: auto;
}

/* 댓글내용 textArea */
.comment_text {
    width: 900px;
    height: 120px;
    border: 1px solid #494949;
    border-radius: 5px;
    font-size: 16px;
    margin: auto;
}


.comment_list {
    padding-left: 0;
    margin-top: 100px;
    width: 900px;
    margin: auto;
}

/* 댓글 작성된 박스 */
.comment_li {
    padding:20px;
    list-style: none;
    width: inherit;
    box-sizing: border-box;
    border: 1px solid #6666ff;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 5px;
}
.comment_btn{
    color: #494949;
    font-size: 13px;
}



