@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.loading{
  width: 400px;
  height: 400px;
  margin: auto;
  padding: 100px 0;
}


.inner {
  width: 100%;
  margin: auto;
  position: relative;
}
.headerwrap .bgcolour {
  position: absolute;
  width: 100%;
  height: 695px;
  background-image: linear-gradient(316deg, #33cc99 0%, #0099ff 100%);
  transform: skew(0, -15deg);
  left: 0;
  top: -260px;
  z-index: -9999;
}

.header {
  width: 100%;
  height: 65px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.header .logo a {
  display: block;
  width: 150px;
  height: 65px;
  background-image: url(../../public/image/LOGO_INVERT.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-indent: -9999px;
}
.diary {
  border: 1px solid white;
  border-radius: 5px;
  width: 140px;
  text-align: center;
  height: 40px;
  font-size: 18px;
  line-height: 20px;
  color: white;
  background: transparent;
  font-family: 'Hahmlet', serif;
}
.diary:hover {
  color: #0099ff;
  background-color: white;
  border: 0 none;
}

.heroside {
  width: 1200px;
  height: 700px;
  margin: auto;
  position: relative;
}

.hero_text {
  padding: 170px 0;
  color: white;
}

.hero_text h3 {
  font-size: 56px;
  line-height: 81px;
  margin-bottom: 56px;
  color: white;
}
.hero_text h5 {
  font-size: 20px;
  line-height: 29px;
  font-weight: normal;
  margin-bottom: 24px;
  color: white;
}

.hero_image1{
  width: 600px;
  height: 600px;
  position: absolute;
  top: -50px;
  left: 470px;
}
.hero_image2{
  width: 450px;
  height: 450px;
  position: absolute;
  top: 300px;
  left: 800px;
  z-index: -2;
}

.section1_title{
  margin-top: 100px;
  text-align: center;
}

.section1_title h3{
  font-weight: normal;
  font-size: 32px;
  line-height: 46px;
  margin-bottom: 24px;
}

.section1_title p{
  font-size: 18px;
  line-height: 26px;
}

.section1_card{
  display: flex;
  width: 1200px;
  margin: 50px auto;
  gap: 30px;
}

.card{
  display: flex;
}

.card_wrap{
  border: 1px solid #D8DDE6;
  border-radius: 5px;
  width: 270px;
  height: 430px;
  overflow: hidden;
  gap: 20px;
}

.card_img .img{
  width: 270px;
  height: 270px;
  background: #000;
  
}

.card_body{
  padding: 24px;
}

.card_body h4{
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;
  margin-bottom: 70px;
}

.card_body p{
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
}
.card_body p:hover{
  color: #C1C7D4
}

.section2{
  height: 670px;
  background: #ECEFF5;
}
.section2_title{
  text-align: center;
  margin-top: 100px;
}

.section2_title h3{
  font-weight: normal;
  font-size: 32px;
  line-height: 46px;
  margin-bottom: 24px;
}

.section2_title p{
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 70px;
}




.section3{
  height: 670px;
  background: #ECEFF5;
}
.section3_title{
  text-align: center;
  margin-top: 100px;
}

.section3_title h3{
  font-weight: normal;
  font-size: 32px;
  line-height: 46px;
  margin-bottom: 24px;
}

.section3_title p{
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 70px;
}


#footerwrap {
  height: 600px;
  position: relative;
  /* overflow: hidden; */
  
}

.bgcolour2{
  position: absolute;
  width: 100%;
  height: 537px;
  background-image: linear-gradient(316deg, #33CC99 0%, #6666FF 100%);
  overflow: hidden;
  transform: skew(0,7deg) rotate3d(4, 12, 2, 360deg);
  left: 0;
  top: -25px;
  z-index: -9999;
}

.footer {
  width: 1260px;
  height: 600px;
  overflow: hidden;
  margin: 0 auto;
  /* background: #000; */
}
#footerwrap .logo a {
  float: right;
  display: block;
  width: 250px;
  height: 250px;
  background-image: url(../../public/image/LOGO_FOOTER.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-indent: -9999px;
  margin-top: 100px;
  margin-right: 85px;
}
.footerend{
  position: relative;
}
.footerend ul{
  float: left;
  margin: 40px;
}
.footerend h4{
  font-size: 16px;
  line-height: 23px;
  font-weight: bold;
  margin-top: 100px;
  color: white;
}

.footerend li a{
  font-size: 14px;
  line-height: 38px;
}

.footerend li a:hover{
  color: white;
}

.footerend::after{
  content:"";
  display: block;
  width: 1260px;
  height: 2px;
  background-color: white;
  margin: 0 auto;
  top: 423px;
  position: absolute;
}

.footerend_1{
  position: absolute;
  bottom: 90px;
}
.footerend_1 li{
  float: left;
  margin-right: 30px;
  font-size: 14px;
  color: #6666ff;
  cursor: pointer;
}

.footerend_2{
  position: absolute;
  bottom: 90px;
  right: 180px;
}
.footerend_2 li{
  float: left;
  margin-left: 30px;
}
.footerend_2 .github{
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../../public/image/github.png);
  background-size: contain;
  text-indent: -9999px;
}
.footerend_2 .figma{
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../../public/image/figma.png);
  background-size: contain;
  text-indent: -9999px;
}
.footerend_2 .notion{
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../../public/image/notion.png);
  background-size: contain;
  text-indent: -9999px;
}
